<div class="container-fluid bg-light">
  <div class="container d-flex align-items-center">
    <div class="ps-lg-2 ps-md-3 ps-sm-1 ps-xl-4 ps-xxl-5">
      <a href="/" class="font-comic-neue font-color-blue text-decoration-none h3">
        <%= image_tag asset_path('SparkId_logo.png'), style: 'width:100px; height: 100px;' %>
        SparkId
      </a>
    </div>


  </div>
</div>

<div class="parent-container-max-width parent-container h-auto">
  <img src="/assets/about.jpg" class="w-100" style="height:30%;" alt="">
  <div class="bg-light">

    <div class="d-inline-flex bg-light pt-lg-2 pt-md-3 pt-sm-2 pt-xl-4 pt-xxl-4 ps-lg-2 ps-md-3 ps-sm-2 ps-xl-4 ps-xxl-4 pe-lg-2 pe-md-3 pe-sm-2 pe-xl-4 pe-xxl-4">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Gautham_Menon_at_Dhuruvangal_Pathinaaru_Success_Meet_%28cropped%29.jpg/800px-Gautham_Menon_at_Dhuruvangal_Pathinaaru_Success_Meet_%28cropped%29.jpg"
           class="user-profile" style="margin-top: -25%; height: 30%; width: 40%; border-radius: 50%;" alt="">
      <span class="m-auto">
              <h6>Aswath</h6>
          <h6>@King_aswath</h6>
      </span>
      <span class="m-auto">
        <a href="/users/edit-profile">
            <button class="btn btn-outline-primary h-25"> Edit profile </button>
          </a>
      </span>
    </div>

    <div class="d-grid align-items-center justify-content-center">
      <h6>I am Software developer </h6>
    </div>
    <div class="d-grid user-grid align-items-center justify-content-center align-content-center">
      <div class="d-grid m-auto p-1 pt-lg-2 pt-md-3 pt-sm-2 pt-xl-4 pt-xxl-4 ps-lg-2 ps-md-3 ps-sm-2 ps-xl-4 ps-xxl-4 pe-lg-2 pe-md-3 pe-sm-2 pe-xl-4 pe-xxl-4">
        <h3>10</h3>
        <p>post</p>
      </div>
      <div class="d-grid m-auto p-1 pt-lg-2 pt-md-3 pt-sm-2 pt-xl-4 pt-xxl-4 ps-lg-2 ps-md-3 ps-sm-2 ps-xl-4 ps-xxl-4 pe-lg-2 pe-md-3 pe-sm-2 pe-xl-4 pe-xxl-4">
        <h3>50</h3>
        <p>Follower</p>
      </div>
      <div class="d-grid m-auto p-1 pt-lg-2 pt-md-3 pt-sm-2 pt-xl-4 pt-xxl-4 ps-lg-2 ps-md-3 ps-sm-2 ps-xl-4 ps-xxl-4 pe-lg-2 pe-md-3 pe-sm-2 pe-xl-4 pe-xxl-4">
        <h3>150</h3>
        <p>Following</p>
      </div>
    </div>

  </div>
  <div class="child-container w-100 pt-lg-2 pt-md-3 pt-sm-2 pt-xl-4 pt-xxl-4 ps-lg-2 ps-md-3 ps-sm-2 ps-xl-4 ps-xxl-4 pe-lg-2 pe-md-3 pe-sm-2 pe-xl-4 pe-xxl-4">
    <div class="username-space h-auto d-flex ">
      <a href="/" class="font-comic-neue font-color-blue text-decoration-none d-flex">
        <%= image_tag asset_path('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Gautham_Menon_at_Dhuruvangal_Pathinaaru_Success_Meet_%28cropped%29.jpg/800px-Gautham_Menon_at_Dhuruvangal_Pathinaaru_Success_Meet_%28cropped%29.jpg'), class: 'user-profile', style: 'width:50px; height: 50px;' %>
        <div class="p-2 d-flex justify-content-center flex-column align-items-center">
          <h6>Aswath</h6>
          <h6>@King_aswath</h6>
        </div>
      </a>
      <button class="btn ms-auto ">
        <svg aria-label="More Options" class="_ab6-" color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
          <circle cx="12" cy="12" r="1.5"></circle>
          <circle cx="6" cy="12" r="1.5"></circle>
          <circle cx="18" cy="12" r="1.5"></circle>
        </svg>
      </button>
    </div>
    <div class="text-space">
      <h3 class="message-content">
        'Vikram' has become a smashing hit at the box office, crossing ₹442.45 crore mark globally
      </h3>
    </div>
    <div class="image-space h-auto">
      <img src="https://pbs.twimg.com/media/FUTi0snaQAA7iQe.jpg:large" class="w-100 h-auto" alt="Icon"/>
    </div>
    <div class="reaction-space w-100 m-auto row ps-4 pe-5">
      <button class="col-4 btn pt-2 pb-2"><i class="fa fa-heart-o fa-lg" aria-hidden="true"></i></button>
      <button class="col-4 btn pt-2 pb-2"><i class="fa fa-comments fa-lg" aria-hidden="true"></i></button>
      <button class="col-4 btn pt-2 pb-2"><i class="fa fa-share-square-o fa-lg" aria-hidden="true"></i></button>
    </div>
  </div>
</div>