<div class="container-fluid bg-light">
  <div class="container d-flex align-items-center">
    <div class="ps-lg-2 ps-md-3 ps-sm-1 ps-xl-4 ps-xxl-5">
      <a href="/" class="font-comic-neue font-color-blue text-decoration-none h3">
        <%= image_tag asset_path('SparkId_logo.png'), style: 'width:100px; height: 100px;' %>
        SparkId
      </a>
    </div>

    <form class="ps-lg-2 ps-md-3 ps-sm-2 ps-xl-4 ps-xxl-5 d-inline-flex search-section">
      <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
      <button class="btn " type="submit">
        <i class="fa fa-search font-color-blue fa-lg" aria-hidden="true"></i>
      </button>
    </form>

    <div class="me-auto ps-lg-2  ps-md-3 ps-sm-2 ps-2 ps-xl-4 ps-xxl-5">
      <%= image_tag asset_path('dummy_profile_female.png'), class: 'ms-auto', style: 'width:75px; height: 75px;' %>
    </div>
  </div>
</div>

<div class="parent-container-max-width parent-container p-1 h-auto">

  <div class="child-container w-100 pt-lg-2 pt-md-3 pt-sm-2 pt-xl-4 pt-xxl-4 ps-lg-2 ps-md-3 ps-sm-2 ps-xl-4 ps-xxl-4 pe-lg-2 pe-md-3 pe-sm-2 pe-xl-4 pe-xxl-4 ">
    <div class="username-space h-auto d-flex">
      <a href="/" class="font-comic-neue font-color-blue text-decoration-none d-flex">
        <%= image_tag asset_path('dummy_profile_male.png'), class: 'user-profile', style: 'width:50px; height: 50px;' %>
        <div class="p-2 d-flex justify-content-center flex-column align-items-center">
          <h6>Annamalai</h6>
          <h6>@capital_sam</h6>
        </div>
      </a>
      <button class="btn ms-auto "> ...</button>
    </div>
    <div class="text-space">
      <h3 class="message-content">
        Chennai Super kings is the one of the greatest team in IPL
      </h3>
    </div>
    <div class="image-space h-auto">
      <img src="/assets/csk.jfif" class="w-100 h-auto" alt="Icon"/>
    </div>
    <div class="reaction-space w-100 m-auto row ps-4 pe-5">
      <button class="col-4 btn pt-2 pb-2"><i class="fa fa-heart-o fa-lg" aria-hidden="true"></i></button>
      <button class="col-4 btn pt-2 pb-2"><i class="fa fa-comments fa-lg" aria-hidden="true"></i></button>
      <button class="col-4 btn pt-2 pb-2"><i class="fa fa-share-square-o fa-lg" aria-hidden="true"></i></button>
    </div>
  </div>

  <div class="child-container w-100 pt-lg-2 pt-md-3 pt-sm-2 pt-xl-4 pt-xxl-4 ps-lg-2 ps-md-3 ps-sm-2 ps-xl-4 ps-xxl-4 pe-lg-2 pe-md-3 pe-sm-2 pe-xl-4 pe-xxl-4">
    <div class="username-space h-auto d-flex ">
      <a href="/" class="font-comic-neue font-color-blue text-decoration-none d-flex">
        <%= image_tag asset_path('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Gautham_Menon_at_Dhuruvangal_Pathinaaru_Success_Meet_%28cropped%29.jpg/800px-Gautham_Menon_at_Dhuruvangal_Pathinaaru_Success_Meet_%28cropped%29.jpg'), class: 'user-profile', style: 'width:50px; height: 50px;' %>
        <div class="p-2 d-flex justify-content-center flex-column align-items-center">
          <h6>Aswath</h6>
          <h6>@King_aswath</h6>
        </div>
      </a>
      <button class="btn ms-auto "> ...</button>
    </div>
    <div class="text-space">
      <h3 class="message-content">
        'Vikram' has become a smashing hit at the box office, crossing ₹442.45 crore mark globally
      </h3>
    </div>
    <div class="image-space h-auto">
      <img src="https://pbs.twimg.com/media/FUTi0snaQAA7iQe.jpg:large" class="w-100 h-auto" alt="Icon"/>
    </div>
    <div class="reaction-space w-100 m-auto row ps-4 pe-5">
      <button class="col-4 btn pt-2 pb-2"><i class="fa fa-heart-o fa-lg" aria-hidden="true"></i></button>
      <button class="col-4 btn pt-2 pb-2"><i class="fa fa-comments fa-lg" aria-hidden="true"></i></button>
      <button class="col-4 btn pt-2 pb-2"><i class="fa fa-share-square-o fa-lg" aria-hidden="true"></i></button>
    </div>
  </div>

</div>

